{% load static %}
<section id="features" class="process">
    <div class="process__inner">
       <h3 class="process__title">
          How does it work
       </h3>
       <div class="process__list">
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/future-0.png' %}" width="70" height="70" alt="Human Voice">
             </div>
             <h4 class="process__item-title">Step 1: Contact Us</h4>
             <p class="process__item-desc">
                We tell you what product is currently FREE for you to order
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/feature-1.png' %}" width="67" height="67" alt="Embeddable Player">
             </div>
             <h4 class="process__item-title">
                Step 2: Send Us Order the ID
             </h4>
             <p class="process__item-desc">
                You go ahead with the Order and you send us the Order ID
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/feature-2.png' %}" width="86" height="86" alt="Distribution">
             </div>
             <h4 class="process__item-title">
                Step 3: Product is shipped
             </h4>
             <p class="process__item-desc">
                We wait for 24-48 hours until the product is distributed to you
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/feature-3.png' %}" width="59" height="61" alt="Analytics">
             </div>
             <h4 class="process__item-title">
                Step 4: You Get Your Rebate
             </h4>
             <p class="process__item-desc">
                We send you 100% rebate with Amazon Gift Cards. Use it for any future purchase.
             </p>
          </div>
       </div>
    </div>
 </section>