{% load static %}
<footer class="main-footer">
    <div class="main-footer__wrapper">
    <div class="main-footer__info">
        <p class="legal">
            <a href="/policy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
        </p>
        
    </div>
    <div class="main-footer__social">
        <p class="copyright">
            ©C<span id="date"></span> Product Surveys
        </p>
        <a href="https://www.facebook.com/Product-Surveys-841901399476836/?modal=admin_todo_tour" target="_blank" class="main-footer__social-link">
            <svg class="_2SllNu7rQ1s0APBHYQKRhK" viewBox="0 0 216 216" style="display: inline-block; color: rgba(0, 0, 0, 0.87); fill: rgb(201, 201, 201); height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;">
                <path d="M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9 11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1 11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2 15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3 11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
                </path>
            </svg>
        </a>
    </div>
    </div>
    </footer>