{% load static %}

<section class="match-demand">
    <div class="match-demand__wrapper">
       <div class="match-demand__inner">
          <div class="match-demand__content-col">
             <h3 class="match-demand__title">About Us</h3>
             <p class="match-demand__subtitle">Product Surveys is an influencer and feedback platform for connecting brands with fans.  <br>We build a community of authentic consumers and give them the means to voice their opinion</p>
             <p class="match-demand__promo">Let your opinion be heard!</p>
          </div>
       </div>
    </div>
 </section>