{% load static %}
<section class="podcasts">
    <div class="podcasts__wrapper">
       <div class="podcasts__inner">
          <div class="podcasts__content-col">
             <h3 class="podcasts__title">
               Products you can have for free at a click of a button
             </h3>
             <p class="podcasts__description">
                We do all the work for you. <br>
                Free Product + Shipping to your address + Zero Risk
             </p>
          </div>
          <div class="podcasts__photo-col">
             <img src="{% static 'img/podcast_iphone.png' %}" width="440" height="559" alt="iTunes Podcasts">
          </div>
       </div>
    </div>
 </section>